/*---------------------------------------/*
 # SETTINGS
/*---------------------------------------*/

@font-face {
  font-family: 'Inter Web';
  src: url('../fonts/Inter-Regular.woff2') format('woff2');
  font-weight: 400;
}

@font-face {
  font-family: 'Inter Web';
  src: url('../fonts/Inter-SemiBold.woff2') format('woff2');
  font-weight: 600;
}

:root {
  /* CSS variables here */
  --global-color-primary-400: #4F95FF;
  --global-color-primary-500: #3385FF;
  --global-color-primary-600: #2E77E6;

  --global-color-neutral-050: #F5F6FA;
  --global-color-neutral-100: #E2E3E7; 
  --global-color-neutral-200: #CACCD4;
  --global-color-neutral-300: #B5B6C0;
  --global-color-neutral-400: #A0A1AD;
  --global-color-neutral-500: #8B8C9A;
  --global-color-neutral-600: #757787;
  --global-color-neutral-700: #606274;
  --global-color-neutral-800: #4B4C60;
  --global-color-neutral-900: #35374D;
  --global-color-neutral-950: #20223A;

  --global-baseline: .5rem; 
  --global-whitespace: calc(var(--global-baseline) * 3); /* = 24px */
  --global-whitespace-xs: calc(var(--global-whitespace) / 6); /* = 4px */
  --global-whitespace-sm: calc(var(--global-whitespace-xs) * 2); /* = 8px */
  --global-whitespace-md: calc(var(--global-whitespace-sm) * 2); /* = 16px */
  --global-whitespace-lg: calc(var(--global-whitespace-md) * 2); /* = 32px */   
  --global-whitespace-xl: calc(var(--global-whitespace-md) * 2); /* = 48px */    
  --global-whitespace-xxl: calc(var(--global-baseline) * 3);
  /* het is misschien beter om alles van uit de baseline te berekenen */

  --global-border-width: 1px;
  --global-border-radius: 3px;
}

/*---------------------------------------/*
 # GENERIC
/*---------------------------------------*/

*,
*:before,
*:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 100%;
  font-weight: normal;
}

img {
  display: block;
  max-width: 100%;
}

/*---------------------------------------/*
 # ELEMENTS
/*---------------------------------------*/

/*
    Elements: Page
    ---
    Default markup for page level elements
*/

html {
  font-size: 100%;
  line-height: var(--global-whitespace);
  font-family: "Inter Web", "Helvetica Neue", Helvetica, arial, sans-serif;
  color: #20223a;
  background-color: var(--global-color-neutral-050);
  scroll-behavior: smooth;
  /* anti aliasing */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*
    Customize the background color and color to match your design.
*/

::selection {
  background: var(--global-color-primary-500);
  color: white;
}

/*
    Elements: typography
    ---
    Default markup for typographic elements
*/

h1 {
  font-size: 2.25rem;
  font-weight: 700;
  line-height: 2rem;
  margin-bottom: var(--global-whitespace);
}

h2 {
  font-size: 2rem;
  font-weight: 700;
  line-height: 2.5rem;
  margin-bottom: var(--global-whitespace);
}

h3 {
  font-weight: 700;
  font-size: 1.125rem;
  line-height: var(--global-whitespace);
  margin-bottom: var(--global-whitespace);
}

h4,
h5,
h6 {
  font-weight: 700;
  font-size: 1rem;
  line-height: var(--global-whitespace);
  margin-bottom: var(--global-whitespace);
}

p,
ol,
ul,
dl,
table,
address,
figure {
  margin-bottom: var(--global-whitespace);
}

ul,
ol {
  margin-left: var(--global-whitespace);
}

li ul,
li ol {
  margin-bottom: 0;
}

blockquote {
  font-style: italic;
  font-size: 1.375rem;
  line-height: 2rem;
  margin-bottom: var(--global-whitespace);
}

figcaption {
  font-size: 0.75rem;
  line-height: 1rem;
  margin-top: 0.5rem;
  color: #73858c;
}

hr {
  border: 0;
  height: 1px;
  background: #e3e7e8;
  margin-bottom: var(--global-whitespace);
}

a {
  color: var(--global-color-primary-500);
  transition: all 0.1s ease-in-out;
  text-decoration: none;
}

a:visited {
  color: var(--global-color-primary-500);
}

a:hover {
  color: var(--global-color-primary-400);
}

a:active {
  color: var(--global-color-primary-600);
}

input, label {
  display: block;
}

/*---------------------------------------/*
 # OBJECTS
/*---------------------------------------*/
/*
 Object: Button reset
 ---
 Small button reset object
*/

.o-button-reset {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  background: transparent;
 
 /* inherit font & color from ancestor */
  color: inherit;
  font: inherit;
 
 /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
  line-height: normal;
 
 /* Corrects font smoothing for webkit */
 -webkit-font-smoothing: inherit;
 -moz-osx-font-smoothing: inherit;
 
 /* Corrects inability to style clickable `input` types in iOS */
 -webkit-appearance: none;
 }
 
 

/*
    Objects: Row
    ---
    Creates a horizontal row with padding
*/
.o-row {
  padding: var(--global-whitespace) var(--global-whitespace) 0;
  display: flow-root;
}

/*
    Objects: Container
    ---
    Creates a horizontal container that sets de global max-width
*/
.o-container {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 87.5rem;
}

/*
    Objects: Layout
    ---
    The layout object provides us with a column-style layout system. This object
    contains the basic structural elements, but classes should be complemented
    with width utilities
*/
.o-layout {
  display: flex;
  flex-wrap: wrap;
}

.o-layout__item {
  flex-basis: 100%;
}

/* gutter modifiers, these affect o-layout__item too */
.o-layout--gutter {
  margin-left: -0.75rem;
  margin-right: -0.75rem;
}

.o-layout--gutter>.o-layout__item {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.o-layout--gutter-s {
  margin-left: -0.5rem;
  margin-right: -0.5rem;
}

.o-layout--gutter-s>.o-layout__item {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.o-layout--gutter-l {
  margin-left: -1rem;
  margin-right: -1rem;
}

.o-layout--gutter-l>.o-layout__item {
  padding-left: 1rem;
  padding-right: 1rem;
}

/* reverse horizontal row modifier */
.o-layout--row-reverse {
  flex-direction: row-reverse;
}

/* Horizontal alignment modifiers*/
.o-layout--justify-start {
  justify-content: flex-start;
}

.o-layout--justify-end {
  justify-content: flex-end;
}

.o-layout--justify-center {
  justify-content: center;
}

.o-layout--justify-space-around {
  justify-content: space-around;
}

.o-layout--justify-space-evenly {
  justify-content: space-evenly;
}

.o-layout--justify-space-between {
  justify-content: space-between;
}

/* Vertical alignment modifiers */
.o-layout--align-start {
  align-items: flex-start;
}

.o-layout--align-end {
  align-items: flex-end;
}

.o-layout--align-center {
  align-items: center;
}

.o-layout--align-baseline {
  align-items: baseline;
}

/* Vertical alignment modifiers that only work if there is one than one flex item */
.o-layout--align-content-start {
  align-content: start;
}

.o-layout--align-content-end {
  align-content: end;
}

.o-layout--align-content-center {
  align-content: center;
}

.o-layout--align-content-space-around {
  align-content: space-around;
}

.o-layout--align-content-space-between {
  align-content: space-between;
}

/*------------------------------------*\
  #COMPONENTS
\*------------------------------------*/
/*
    Component: Component name
    ---
    Component description
*/

.c-logo {
  display: flex;
  justify-content: center;
  height: var(--global-whitespace);
}

.c-logo__symbol {
  height: 100%;
  display: block;
}

.c-logo__path--1 {
  fill: #20223A;
}

.c-logo__path--2 {
  fill: var(--global-color-primary-500);
}

.c-logo__path--3 {
  fill: #1B4186;
}

.c-form-field--option {
  display: flex;
  gap: .5rem;
}

.c-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
  border: 1px solid #E2E3E7;
  border-radius: 3px;
  background-color: white;
  font: inherit;
  color: inherit;
  line-height: var(--global-whitespace);
  padding: calc(.75rem - 1px) 1rem;
  outline: none;
}

.c-input:hover {
  outline: #CACCD4 1px solid;
}

.c-input:focus {
  outline: var(--global-color-primary-500) 1px solid;
  box-shadow: 0 0 0 3px #3385FF4d;
  box-shadow: h-offset v-offset blur spread color;
}

.c-btn {
  background-color: var(--global-color-primary-500);
  border: 1px solid var(--global-color-primary-600);
  border-radius: 3px;
  padding: calc(.75rem - 1px) 1rem;
  width: 100%;
  font: inherit;
  color: white;
  font-weight: 600;

  &:hover{
    background-color: var(--global-color-primary-400);
  }

  &:active{
    background-color: var(--global-color-primary-600);
  }

  &:focus{
    outline: var(--global-color-primary-500) 1px solid;
    box-shadow: 0 0 0 3px #3385FF4d;
    box-shadow: h-offset v-offset blur spread color;
  }
}

.c-card {
  background-color: white;
  border-radius: 3px;
}

.c-card__body {
  padding: 3rem;

  @media (width <= 24em) {
    padding: 1rem;
  }
}

.c-card__title {
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.3125rem;
  display: flex;
  justify-content: center;
  padding: 3rem 1rem 0rem 1rem;
  margin-bottom: 0;
}

.c-card__forgot{
  display: flex;
  justify-content: center;
  font-size: .875rem;
  margin-bottom: 0;
}

.c-card__footer {
  display: flex;
  justify-content: center;
  border-top: #E2E3E7 solid 1px;
  font-size: .875rem;
  padding: var(--global-whitespace) 1rem 0rem 1rem;
}

.c-label {
  font-size: .875rem;
  line-height: 1rem;
  margin-bottom: .5rem;
  color: #606274;
}

.c-label--option {
  margin-bottom: 0rem;
  margin-left: .5rem;
}
/*---------------------------------------/*
 # UTILITIES
/*---------------------------------------*/
.u-center {
  min-height: 100vh;
  display: flex;
  align-items: center;
}

/*
    Utilities: Max widths
    ---
    max-width utility classes
*/
.u-max-width-xs {
  max-width: 27rem;
}

.u-max-width-s {
  max-width: 37.5rem;
}

.u-max-width-m {
  max-width: 60rem;
}

.u-max-width-l {
  max-width: 87.5rem;
}

/*
    Utilities: Widths
    ---
    Width utility classes
*/
.u-flex-basis-auto {
  flex-basis: auto;
}

.u-1-of-2 {
  flex-basis: 50% !important;
}

.u-2-of-2 {
  flex-basis: 100% !important;
}

.u-1-of-3 {
  flex-basis: 33.3333333333% !important;
}

.u-2-of-3 {
  flex-basis: 66.6666666667% !important;
}

.u-3-of-3 {
  flex-basis: 100% !important;
}

.u-1-of-4 {
  flex-basis: 25% !important;
}

.u-2-of-4 {
  flex-basis: 50% !important;
}

.u-3-of-4 {
  flex-basis: 75% !important;
}

.u-4-of-4 {
  flex-basis: 100% !important;
}

.u-1-of-5 {
  flex-basis: 20% !important;
}

.u-2-of-5 {
  flex-basis: 40% !important;
}

.u-3-of-5 {
  flex-basis: 60% !important;
}

.u-4-of-5 {
  flex-basis: 80% !important;
}

.u-5-of-5 {
  flex-basis: 100% !important;
}

.u-1-of-6 {
  flex-basis: 16.6666666667% !important;
}

.u-2-of-6 {
  flex-basis: 33.3333333333% !important;
}

.u-3-of-6 {
  flex-basis: 50% !important;
}

.u-4-of-6 {
  flex-basis: 66.6666666667% !important;
}

.u-5-of-6 {
  flex-basis: 83.3333333333% !important;
}

.u-6-of-6 {
  flex-basis: 100% !important;
}

@media (min-width: 36.0625em) {
  .u-1-of-2-bp1 {
    flex-basis: 50% !important;
  }

  .u-2-of-2-bp1 {
    flex-basis: 100% !important;
  }

  .u-1-of-3-bp1 {
    flex-basis: 33.3333333333% !important;
  }

  .u-2-of-3-bp1 {
    flex-basis: 66.6666666667% !important;
  }

  .u-3-of-3-bp1 {
    flex-basis: 100% !important;
  }

  .u-1-of-4-bp1 {
    flex-basis: 25% !important;
  }

  .u-2-of-4-bp1 {
    flex-basis: 50% !important;
  }

  .u-3-of-4-bp1 {
    flex-basis: 75% !important;
  }

  .u-4-of-4-bp1 {
    flex-basis: 100% !important;
  }

  .u-1-of-5-bp1 {
    flex-basis: 20% !important;
  }

  .u-2-of-5-bp1 {
    flex-basis: 40% !important;
  }

  .u-3-of-5-bp1 {
    flex-basis: 60% !important;
  }

  .u-4-of-5-bp1 {
    flex-basis: 80% !important;
  }

  .u-5-of-5-bp1 {
    flex-basis: 100% !important;
  }

  .u-1-of-6-bp1 {
    flex-basis: 16.6666666667% !important;
  }

  .u-2-of-6-bp1 {
    flex-basis: 33.3333333333% !important;
  }

  .u-3-of-6-bp1 {
    flex-basis: 50% !important;
  }

  .u-4-of-6-bp1 {
    flex-basis: 66.6666666667% !important;
  }

  .u-5-of-6-bp1 {
    flex-basis: 83.3333333333% !important;
  }

  .u-6-of-6-bp1 {
    flex-basis: 100% !important;
  }
}

@media (min-width: 48.0625em) {
  .u-1-of-2-bp2 {
    flex-basis: 50% !important;
  }

  .u-2-of-2-bp2 {
    flex-basis: 100% !important;
  }

  .u-1-of-3-bp2 {
    flex-basis: 33.3333333333% !important;
  }

  .u-2-of-3-bp2 {
    flex-basis: 66.6666666667% !important;
  }

  .u-3-of-3-bp2 {
    flex-basis: 100% !important;
  }

  .u-1-of-4-bp2 {
    flex-basis: 25% !important;
  }

  .u-2-of-4-bp2 {
    flex-basis: 50% !important;
  }

  .u-3-of-4-bp2 {
    flex-basis: 75% !important;
  }

  .u-4-of-4-bp2 {
    flex-basis: 100% !important;
  }

  .u-1-of-5-bp2 {
    flex-basis: 20% !important;
  }

  .u-2-of-5-bp2 {
    flex-basis: 40% !important;
  }

  .u-3-of-5-bp2 {
    flex-basis: 60% !important;
  }

  .u-4-of-5-bp2 {
    flex-basis: 80% !important;
  }

  .u-5-of-5-bp2 {
    flex-basis: 100% !important;
  }

  .u-1-of-6-bp2 {
    flex-basis: 16.6666666667% !important;
  }

  .u-2-of-6-bp2 {
    flex-basis: 33.3333333333% !important;
  }

  .u-3-of-6-bp2 {
    flex-basis: 50% !important;
  }

  .u-4-of-6-bp2 {
    flex-basis: 66.6666666667% !important;
  }

  .u-5-of-6-bp2 {
    flex-basis: 83.3333333333% !important;
  }

  .u-6-of-6-bp2 {
    flex-basis: 100% !important;
  }
}

@media (min-width: 62.0625em) {
  .u-1-of-2-bp3 {
    flex-basis: 50% !important;
  }

  .u-2-of-2-bp3 {
    flex-basis: 100% !important;
  }

  .u-1-of-3-bp3 {
    flex-basis: 33.3333333333% !important;
  }

  .u-2-of-3-bp3 {
    flex-basis: 66.6666666667% !important;
  }

  .u-3-of-3-bp3 {
    flex-basis: 100% !important;
  }

  .u-1-of-4-bp3 {
    flex-basis: 25% !important;
  }

  .u-2-of-4-bp3 {
    flex-basis: 50% !important;
  }

  .u-3-of-4-bp3 {
    flex-basis: 75% !important;
  }

  .u-4-of-4-bp3 {
    flex-basis: 100% !important;
  }

  .u-1-of-5-bp3 {
    flex-basis: 20% !important;
  }

  .u-2-of-5-bp3 {
    flex-basis: 40% !important;
  }

  .u-3-of-5-bp3 {
    flex-basis: 60% !important;
  }

  .u-4-of-5-bp3 {
    flex-basis: 80% !important;
  }

  .u-5-of-5-bp3 {
    flex-basis: 100% !important;
  }

  .u-1-of-6-bp3 {
    flex-basis: 16.6666666667% !important;
  }

  .u-2-of-6-bp3 {
    flex-basis: 33.3333333333% !important;
  }

  .u-3-of-6-bp3 {
    flex-basis: 50% !important;
  }

  .u-4-of-6-bp3 {
    flex-basis: 66.6666666667% !important;
  }

  .u-5-of-6-bp3 {
    flex-basis: 83.3333333333% !important;
  }

  .u-6-of-6-bp3 {
    flex-basis: 100% !important;
  }
}

@media (min-width: 75.0625em) {
  .u-1-of-2-bp4 {
    flex-basis: 50% !important;
  }

  .u-2-of-2-bp4 {
    flex-basis: 100% !important;
  }

  .u-1-of-3-bp4 {
    flex-basis: 33.3333333333% !important;
  }

  .u-2-of-3-bp4 {
    flex-basis: 66.6666666667% !important;
  }

  .u-3-of-3-bp4 {
    flex-basis: 100% !important;
  }

  .u-1-of-4-bp4 {
    flex-basis: 25% !important;
  }

  .u-2-of-4-bp4 {
    flex-basis: 50% !important;
  }

  .u-3-of-4-bp4 {
    flex-basis: 75% !important;
  }

  .u-4-of-4-bp4 {
    flex-basis: 100% !important;
  }

  .u-1-of-5-bp4 {
    flex-basis: 20% !important;
  }

  .u-2-of-5-bp4 {
    flex-basis: 40% !important;
  }

  .u-3-of-5-bp4 {
    flex-basis: 60% !important;
  }

  .u-4-of-5-bp4 {
    flex-basis: 80% !important;
  }

  .u-5-of-5-bp4 {
    flex-basis: 100% !important;
  }

  .u-1-of-6-bp4 {
    flex-basis: 16.6666666667% !important;
  }

  .u-2-of-6-bp4 {
    flex-basis: 33.3333333333% !important;
  }

  .u-3-of-6-bp4 {
    flex-basis: 50% !important;
  }

  .u-4-of-6-bp4 {
    flex-basis: 66.6666666667% !important;
  }

  .u-5-of-6-bp4 {
    flex-basis: 83.3333333333% !important;
  }

  .u-6-of-6-bp4 {
    flex-basis: 100% !important;
  }
}

@media (min-width: 87.5625em) {
  .u-1-of-2-bp5 {
    flex-basis: 50% !important;
  }

  .u-2-of-2-bp5 {
    flex-basis: 100% !important;
  }

  .u-1-of-3-bp5 {
    flex-basis: 33.3333333333% !important;
  }

  .u-2-of-3-bp5 {
    flex-basis: 66.6666666667% !important;
  }

  .u-3-of-3-bp5 {
    flex-basis: 100% !important;
  }

  .u-1-of-4-bp5 {
    flex-basis: 25% !important;
  }

  .u-2-of-4-bp5 {
    flex-basis: 50% !important;
  }

  .u-3-of-4-bp5 {
    flex-basis: 75% !important;
  }

  .u-4-of-4-bp5 {
    flex-basis: 100% !important;
  }

  .u-1-of-5-bp5 {
    flex-basis: 20% !important;
  }

  .u-2-of-5-bp5 {
    flex-basis: 40% !important;
  }

  .u-3-of-5-bp5 {
    flex-basis: 60% !important;
  }

  .u-4-of-5-bp5 {
    flex-basis: 80% !important;
  }

  .u-5-of-5-bp5 {
    flex-basis: 100% !important;
  }

  .u-1-of-6-bp5 {
    flex-basis: 16.6666666667% !important;
  }

  .u-2-of-6-bp5 {
    flex-basis: 33.3333333333% !important;
  }

  .u-3-of-6-bp5 {
    flex-basis: 50% !important;
  }

  .u-4-of-6-bp5 {
    flex-basis: 66.6666666667% !important;
  }

  .u-5-of-6-bp5 {
    flex-basis: 83.3333333333% !important;
  }

  .u-6-of-6-bp5 {
    flex-basis: 100% !important;
  }
}